.future {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: 3px solid #bec;
  padding: 14px;
  border-radius: 20px;

  &__save {
    justify-content: flex-end;
    padding-right: 24px;
  }

  &__error {
    color: #cc5757;
  }
}

.future-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 50%;
}

h2 {
  text-align: center;
}

.future-max {
  align-self: center;
}

.future-data {
  font-family: 'Courier New', Courier, monospace;
}
